<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    @RenderSection("Scripts", required: false)
    <link href="~/Content/_Layout.css" rel="stylesheet" />

    
    <title>Market</title>
</head>
<body>
    <div class="Contenido">
        <div class="ImagenFondo">
        </div>


        <div class="Header">
            <div class="top-nav">
                <div class="Top-nav-izq">
                </div>
                <div class="Top-nav-der">
                    <i class='bx bx-log-out'></i>
                    <a class="Login"> Login </a>
                </div>
            </div>

            <div class="nav">
                <i class='bx bx-menu' id="btn"></i>

                <a>@Html.ActionLink("Productos", "Index", "Product")</a>
                <a>@Html.ActionLink("Inicio", "Index", "Home")</a>
                <a href="@Url.Action("Index", "Home")" title="Home" class="links">
                    <img src="~/Content/Imagenes/kisspng-china-japan-temple-drawing-japan-japanese-tower-5a86c272800d43.3405034315187810425245.png" />
                </a>
                <a>@Html.ActionLink("Inicio", "Index", "Home")</a>
                <a>@Html.ActionLink("Inicio", "Index", "Home")</a>
            </div>



        </div>
        <div class="container">
            @RenderBody()
        </div>
        <div id="slidebar" class="slidebar">
            <div class="logo_content">
                <div class="logo">
                    <i class='bx bx-circle'></i>
                    <div class="logo_name">ADMINISTRADOR</div>
                </div>
            </div>
            <ul class="nav-list">
                <li>
                    <a>
                        <i class='bx bxl-product-hunt'></i>
                        <span class="links_name"> Productos </span>                        
                    </a>
                    <span class="tooltip"> Productos </span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-plus-square'></i>
                        <span class="links_name"> Productos </span>
                    </a>
                    <span class="tooltip"> Productos </span>
                </li>
                <li>
                    <a href="#">
                        <i class='bx bxs-plus-square'></i>
                        <span class="links_name"> Productos </span>
                    </a>
                    <span class="tooltip"> Productos </span>
                </li>
            </ul>
            <div class="profile">
                <div class="profile_details">
                    <div class="name_job">
                        <div class="name">
                            Federico Gerardi
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year - Supermercado Mercadito</p>
    </footer>


    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>

    <script src="~/Scripts/_Layout.js"></script>


</body>
</html>
