@model IEnumerable<BE.Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.carritoId = (Session["Carrito"] as BE.Cart).Id;
}

<link href="~/Content/Product.css" rel="stylesheet" />

<div class="Section">
    @if (Model.Count() == 0)
    {
        <div class="Product-Zero" style="color: #fff; align-items: center;" role="alert">
            <h2> Por el momento no hay productos. ¡Vuelva m&aacute;s tarde! </h2>
            <br />
            <img width="200" height="200" src="~/Content/Imagenes/Tomate_Triste.png" />
        </div>
    }
    else
    {
        <div class="containerCards">
            @foreach (var item in Model)
            {
                <div class="card">
                    <div style="padding: 2px 16px;">
                        <img src="@Url.Content(item.ProductImage)" class="img" />
                        <h4>@Html.DisplayFor(modelItem => item.Name)</h4>
                        <h5>$@Html.DisplayFor(modelItem => item.Price).</h5>
                        <p>@Html.DisplayFor(modelItem => item.Description)</p>
                        <small class="text-muted">@item.LastUpdated.ToString("dd/MM/yyyy")</small>
                        <br />
                        <button class="button buttonG">@Html.ActionLink("Agregar al Carrito", "AgregarAlCarrito", "Cart", new { idCart = ViewBag.carritoId, idProd = item.Id }, new { })</button>
                    </div>
                </div>
            }
        </div>
        if(ViewBag.ErrorCarrito != null)
                {
                    <p>@ViewBag.ErrorCarrito</p>
                }
    }
</div>

